<html>
    <body>
        <header>
            <a href="#shedule">Schedule</a> <a href="#lessons">About the lessons</a> <a href="#photos">Photos</a>
        </header>
        <main>
            <h1>Riding club<br/><img src="/uploads/2020/11/horse-4692916_1920_0_1605250570.jpg" width="400px"/></h1>
            <h2 id="lessons">How classes are held</h2>
            <p>During the lessons, you will not only practice horse riding, but also learn how to care for horses. As soon as the first lesson, you will be able to feed the animals. Learn to feed, water, wash, and brush your horse, and put on and take off their harness.</p>
            <p>The trainer will work with you to select your horse, taking into account your riding skills. You will practice riding outside under the supervision of the trainer, and in later sessions you will go for rides in the woods.</p>
            <p>After completing the course, by agreement with the club, you can go for rides and visit your horse, with whom you will definitely become friends.</p>
            <h2 id="shedule">Schedule</h2>
            <table>
                <tr>
                    <td>Program name</td>
                    <td>Lesson time</td>
                </tr>
                <tr>
                    <td>Introductory course</td>
                    <td>Sat. 12-4</td>
                </tr>
                <tr>
                    <td>Ponies for kids</td>
                    <td>Sat. 10-12</td>
                </tr>
            </table>
            <h2 id="photos">Photos</h2>
            <img src="/uploads/2020/11/horse-3419146_1920_0_1605250570.jpg" height="200px"/> <img src="/uploads/2020/11/horse-4475581_1920_0_1605250570.jpg" height="200px"/><br/>
            <img src="/uploads/2020/11/saddle-792822_1920_0_1605250570.jpg" height="200px" width="260px"/> <img src="/uploads/2020/11/horses-2904536_1920_0_1605250570.jpg" height="200px" width="300px"/>
        </main>
    </body>
</html>
body {
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    color: royalblue;
    font-size: 30px;
}

p {
    background-color: lightblue;
    font-size: 20px;
}

a {
    color: black;
    font-size: 20px;
}

img {
    border: 2px solid brown;
}
table{
    border: 1px solid brown;
    background-color: lightblue;
    font-size: 20px;
     border-collapse: collapse;
}
td{
    border: 1px solid brown;
} 
